In [19]:
#Adding / Removing Columns
#Handling Null Values

import pandas as pd, numpy as np, random

coffee = pd.read_csv("C:/Users/dkvcs/OneDrive/Desktop/data_engineering/01_code/01_1_keith_galli_pd_video/resources/warmup-data/coffee.csv")

bios = pd.read_csv("C:/Users/dkvcs/OneDrive/Desktop/data_engineering/01_code/01_1_keith_galli_pd_video/resources/data/bios.csv")

In [ ]:
coffee.insert(3, "Price",random.uniform(2.0, 7.0) )

In [30]:
coffee.loc[[0, 1], "Units Sold"] = np.nan

In [ ]:
coffee = coffee.fillna(coffee["Units Sold"].mean()) # Rellenar NaNs
coffee = coffee.fillna(coffee["Units Sold"].interpolate()) # Rellenar NaNs

In [33]:
coffee

          Day Coffee Type  Units Sold     Price
0      Monday    Espresso        35.0  2.778029
1      Monday       Latte        35.0  2.778029
2     Tuesday    Espresso        30.0  2.778029
3     Tuesday       Latte        20.0  2.778029
4   Wednesday    Espresso        35.0  2.778029
5   Wednesday       Latte        25.0  2.778029
6    Thursday    Espresso        40.0  2.778029
7    Thursday       Latte        30.0  2.778029
8      Friday    Espresso        45.0  2.778029
9      Friday       Latte        35.0  2.778029
10   Saturday    Espresso        45.0  2.778029
11   Saturday       Latte        35.0  2.778029
12     Sunday    Espresso        45.0  2.778029
13     Sunday       Latte        35.0  2.778029