In [ ]:
#.shift(), .rank(), .cumsum(), .rolling()

import pandas as pd

coffee = pd.read_csv("C:/Users/dkvcs/OneDrive/Desktop/data_engineering/01_code/01_1_keith_galli_pd_video/resources/warmup-data/coffee.csv")

bios = pd.read_csv("C:/Users/dkvcs/OneDrive/Desktop/data_engineering/01_code/01_1_keith_galli_pd_video/resources/data/bios.csv")

In [2]:
coffee.insert(3, "Price",7.0 )
coffee.insert(4, "Revenue",10.0 )

In [ ]:
coffee["yersterday_revenue"] = coffee["Revenue"].shift(2) # cambio, comparaci√≥n entre modificaciones

In [6]:
coffee

          Day Coffee Type  Units Sold  Price  Revenue  yersterday_revenue
0      Monday    Espresso          25    7.0     10.0                 NaN
1      Monday       Latte          15    7.0     10.0                 NaN
2     Tuesday    Espresso          30    7.0     10.0                10.0
3     Tuesday       Latte          20    7.0     10.0                10.0
4   Wednesday    Espresso          35    7.0     10.0                10.0
5   Wednesday       Latte          25    7.0     10.0                10.0
6    Thursday    Espresso          40    7.0     10.0                10.0
7    Thursday       Latte          30    7.0     10.0                10.0
8      Friday    Espresso          45    7.0     10.0                10.0
9      Friday       Latte          35    7.0     10.0                10.0
10   Saturday    Espresso          45    7.0     10.0                10.0
11   Saturday       Latte          35    7.0     10.0                10.0
12     Sunday    Espresso          45    7.0     10.0                10.0
13     Sunday       Latte          35    7.0     10.0                10.0