In [ ]:
#.shift(), .rank(), .cumsum(), .rolling()

import pandas as pd

coffee = pd.read_csv("C:/Users/dkvcs/OneDrive/Desktop/data_engineering/01_code/01_1_keith_galli_pd_video/resources/warmup-data/coffee.csv")

bios = pd.read_csv("C:/Users/dkvcs/OneDrive/Desktop/data_engineering/01_code/01_1_keith_galli_pd_video/resources/data/bios.csv")

In [2]:
coffee.insert(3, "Price",7.0 )
coffee.insert(4, "Revenue",10.0 )

In [ ]:
coffee["yersterday_revenue"] = coffee["Revenue"].shift(2) # cambio, comparación entre modificaciones

In [7]:
coffee["pct_change"] = coffee["Revenue"] / coffee["yersterday_revenue"]

In [10]:
bios["height_rank"] = bios["height_cm"].rank()

In [12]:
bios.sort_values(["height_rank"], ascending=False)

,athlete_id,name,born_date,born_city,born_region,born_country,NOC,height_cm,weight_kg,died_date,height_rank
89070,89782,Yao Ming,1980-09-12,Xuhui District,Shanghai,CHN,People's Republic of China,226.0,141.0,NaN,106651.0
6978,7013,Arvydas Sabonis,1964-12-19,Kaunas,Kaunas,LTU,Lithuania Soviet Union,223.0,122.0,NaN,106649.5
5781,5804,Tommy Burleson,1952-02-24,Crossnore,North Carolina,USA,United States,223.0,102.0,NaN,106649.5
89075,89787,Roberto Dueñas,1975-11-01,Madrid,Madrid,ESP,Spain,221.0,137.0,NaN,106647.0
120266,122147,Zhang Zhaoxu,1987-11-18,Binzhou,Shandong,CHN,People's Republic of China,221.0,110.0,NaN,106647.0
...,...,...,...,...,...,...,...,...,...,...,...
145490,149217,Sin Ye-Chan,1995-06-13,NaN,NaN,NaN,Republic of Korea,NaN,NaN,NaN,NaN
145491,149218,Matthew Wepke,1989-12-05,NaN,NaN,NaN,Jamaica,NaN,NaN,NaN,NaN
145492,149219,Carlos García-Ordóñez,1927-04-24,La Habana (Havana),Ciudad de La Habana,CUB,Cuba,NaN,NaN,2019-11-24,NaN
145493,149220,Landysh Falyakhova,1998-08-31,Dva Polya Artash,Respublika Tatarstan,RUS,ROC,NaN,NaN,NaN,NaN
145499,149814,Bill Phillips,1913-07-15,Dulwich Hill,New South Wales,AUS,Australia,NaN,NaN,2003-10-20,NaN